.green-color {
    -fx-background-color: #00a13f;
}

.radius-app {
    -fx-background-radius: 20;
}

.white-color {
    -fx-background-color: #fefefe;
}

.border-left {
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 1;
    -fx-border-color: #fefefe;
}

